.header {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
  background: rgb(255, 255, 255);
  padding: 20px;
  box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1);
  z-index: 10001;
}

.header .logo {
  font-size: 25px;
  font-weight: bolder;
  color: rgb(60, 62, 63);
}

.header .logo .circle {
  color: rgb(255, 204, 1);
  font-size: 18px;
  display: inline;
  margin-right: 5px;
}
.header .logo i {
  color: rgb(255, 204, 1);
}
.header .search_form {
  display: flex;
  gap: 5px;
  align-items: center;
  text-transform: none;
  background: rgb(238, 238, 238);
  border-radius: 6px;
  padding: 0 10px;
  padding-right: 0;
  height: 45px;
  width: 600px;
}

.header .search_form input {
  font-size: 15px;
  padding: 5px;
  color: rgb(60, 62, 63);
  background: none;
  width: 90%;
  height: 100%;
  outline: none;
}
.header .search_form .btn {
  background-color: rgb(255, 204, 1);
  color: rgb(60, 62, 63);
  height: 45px;
  width: 100%;
  font-size: 15px;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  border: none;
  padding: 0 30px;
}
.header .search_form .btn:hover {
  background: rgb(237, 189, 0);
}
.header .search_form label {
  font-size: 20px;
  color: rgb(60, 62, 63);
  font-weight: bold;
  margin-left: 5px;
  background: none;
  cursor: pointer;
}
.header .search_form label:hover {
  color: rgb(255, 204, 1);
  transition: 0.4s;
}

.header nav {
  display: flex;
}
.header nav a {
  font-size: 16px;
  padding: 10px;
  border-radius: 6px;
  color: rgb(60, 62, 63);
  transition: 0.3s;
}

.header nav a:hover {
  color: rgb(255, 204, 1);
  transition: 0.3s;
}
.header nav a:hover {
  color: rgb(43, 46, 53);
}

.header .icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header .icons #menu_btn,
.header .icons #cart_btn {
  line-height: 50px;
  text-align: center;
  margin-left: 5px;
  border-radius: 6px;
  font-size: 20px;
  color: rgb(60, 62, 63);
  cursor: pointer;
  transition: 0.4s;
  display: flex;
  align-items: center;
  position: relative;
}

.cart_total {
  position: absolute;
  top: 3px;
  right: -15px;
}

.header .icons #menu_btn {
  display: none;
}

.header .icons #menu_btn,
.header .icons #cart_btn:hover {
  color: rgb(84, 88, 96);
}

@media (max-width: 991px) {
  .header {
    font-size: 55%;
  }

  .header .search_form {
    width: 50%;
  }

  .header .search_form .btn {
    background-color: rgb(255, 204, 1);
    color: rgb(60, 62, 63);
    height: 45px;
    width: 100%;
    font-size: 15px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    border: none;
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .header .search_form {
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    top: 110%;
    width: 95%;
    height: 45px;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    border-radius: 6px;
    transform-origin: top right;
    transform: scale(1);
  }
  .header .search_form .btn {
    width: 100%;
    height: 45px;
    padding: 0 30px;
  }
}

@media (max-width: 500px) {
  .header {
    font-size: 50%;
    justify-content: space-between;
  }

  .header .logo span {
    display: none;
  }
  .header .search_form {
    width: 90%;
  }
  .header .search_form .btn {
    width: 100%;
    height: 45px;
    padding: 0 5px;
  }
  .header .icons #menu_btn,
  .header .icons #cart_btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
  }
  .header .icons #menu_btn {
    display: inline-block;
  }

  .header nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 110%;
    right: 5%;
    width: 200px;
    transform-origin: top right;
    transform: scale(0);
    text-align: center;
    padding: 10px;
    background: rgb(255, 255, 255);
    color: rgb(60, 62, 63);
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1);
    border-radius: 6px;
    transition: 0.3s;
  }

  .hidden {
    transform: scale(0);
  }
  .header nav a {
    display: block;
    font-size: 15px;
    padding: 10px;
    color: rgb(60, 62, 63);
    transition: 0.3s;
  }
  .header nav a:hover {
    color: rgb(238, 238, 238);
    background: rgb(43, 46, 53);
  }
}
