.cart_home_page {
  position: relative;
  min-height: calc(100vh - (96px + 150px));
  padding: 10px;
}

.cart_title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.no_items_at_cart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 20px;
}

.add_button {
  text-transform: uppercase;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(16, 17, 2, 0.29);
  cursor: pointer;
  background: rgb(28, 23, 11);
  color: #eef2ed;
  font-size: 10px;
  width: 100px;
  /* text-align: center; */
  text-align: center;
  display: flex;
  padding-left: 20px;
}

.disable_after_click {
  pointer-events: none;
  opacity: .6;
}

.cart_item {
  display: flex;
  background-color: #fff;
  margin-bottom: 10px;
}
.cart_item .item_img {
  width: 20%;
  margin-right: 10px;
}
.cart_item .item_img .img {
  max-width: 100%;
  border-radius: 10px;
}
.cart_item .item_content {
  color: #777;
}
.cart_item .item_content h3 {
  color: initial;
  font-size: 20px;
  font-weight: bold;
}
